body * {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg-1.jpg);

    max-width: 100%;
    margin-top: 8em;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 241, 247, 2);


}

#texto-login {
    background: linear-gradient(to right, rgb(0, 200, 255), rgb(1, 255, 94));
    /* Aplicar gradiente de indigo a indianred */
    -webkit-background-clip: text;
    /* Aplicar gradiente apenas ao texto */
    background-clip: text;
    /* Aplicar gradiente apenas ao texto */
    color: transparent;
    /* Tornar o texto transparente para permitir a visualização do gradiente */
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    display: inline-block;
    /* Garante que o gradient seja aplicado ao texto corretamente */
}



#campoPrincipal {

    display: flex;
    justify-content: center;
    align-items: center;


}

.logoLogin {

    box-shadow: 0px 0px 12px 1px rgb(0, 0, 0);

    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10em;

}

.texto-login {
    font-size: 2em;

}

.controleLabels,
input {

    justify-content: center;
    width: 100%;
    align-items: center;

}

.btn {
    background-color: indigo;
}

.forget,
a :hover {

    font-size: 0.98em;
}

#escolha {

    font-size: 1em;
}

#escolha,
a {
    color: white;
}


#escola,
a:hover {
    color: yellow;


}

#controleTamanho {
    /* Cor indigo */
    background: linear-gradient(to right, indianred, indigo);
    /* Cor branca com 50% de transparência */
    border-radius: 50px;
    width: 50%;
    /* Largura do contêiner */
    margin: auto;
    /* Centralizar o contêiner na tela */
    box-shadow: 0px 0px 24px 7px rgba(255, 254, 254, 0.5),
        2px 0px 1px 1px white inset,
        /* Sombra vermelha para a direita */
        -2px 0px 1px 1px white inset;
    /* Sombra azul para a esquerda */
}




/* Estilos adicionais para o conteúdo dentro do contêiner translúcido */
.content {
    color: #333;
    /* Cor do texto */
}

.btn-entrar {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de transparência */
    color: #333;
    /* Cor do texto */
    border: 1px solid #333;
    /* Adicione uma borda sólida */
    border-radius: 5px;
    /* Adicione uma borda arredondada */
    font-weight: bold;
    /* Adicione negrito ao texto */
}


.btn-entrar:hover {
    background-color: indigo;
    /* Altere a cor de fundo no hover */
    color: white;
    /* Altere a cor do texto no hover */
}

.texto-forget:hover {
    text-decoration: underline;
    /* Adicione sublinhado no hover */
}

.form-floating label {
    text-shadow: 2px 1px 4px rgb(0, 0, 0);
    /* Deslocamento horizontal, deslocamento vertical, desfoque, cor da sombra */
}

.form-floating input {
    width: 100%;
    border: solid white 0.13em;
}

.form-check-input {
    width: 50%;
}

a {
    color: chartreuse
}